<!DOCTYPE html>
<html>
  <head>
    <title>DDR</title>
    <link rel="stylesheet" href="application.css" type="text/css" />

    <script src="jquery.js" type="text/javascript"></script>
    <script src="application.js" type="text/javascript"></script>
    <script src="song_data.jsonp?id=<%= @song[:id] %>&callback=onSongData"
            type="text/javascript">
    </script>
    <script type="text/javascript">
      onSongDifficulty({steps: <%= @song[:steps] %>,
                        style: "<%= @song[:style] %>"});
    </script>
    <script type="text/javascript"
        src="style_def.jsonp?id=<%= @song[:style] %>&callback=onSongStyleDef">
    </script>
    <script src="prefs.jsonp?id=bindings&callback=onControlBindings"
            type="text/javascript">
    </script>
    <script src="prefs.jsonp?id=players&callback=onPlayerData"
            type="text/javascript">
    </script>
  </head>
  <body id="show-view">
    <header>
      <p class="song-header-generic">
        <span class="song-header-title">Song name</span>
        <span class="song-header-subtitle"></span>
        by
        <span class="song-header-artist"></span>
        <span class="song-header-credit"></span>
      </p>
      <p class="song-header-difficulty">
        <span class="song-difficulty-class"></span>
        (<span class="song-difficulty-steps"></span> steps)
      </p>
      <p class="show-header">
        1 player
      </p>
    </header>
    <article class="show-stage">
    </article>
    <footer>
      <section id="song-audio-view">
        
      </section>
      <p>Control help here</p>
      
      <svg id="filters-container">
        <defs>
          <filter id="playing-note">
            <feColorMatrix type="hueRotate" values="240" />
          </filter>
        </defs>
      </svg>
    </footer>

    <script type="text/html" id="player-stage-view">
      <section class="player-stage-view">
        <aside class="player-score-area">
          <span class="player-name">
            
          </span>
          <span class="player-score">
            0
          </span>
        </aside>
        <section class="player-cover-view">
        </section>
      </section>
    </script>
  </body>
</html>
