<html>
  <head>
    <title>DDR</title>
    <link rel="stylesheet" href="application.css" type="text/css" />

    <script src="jquery.js" type="text/javascript"></script>
    <script src="application.js" type="text/javascript"></script>
  </head>
  <body>
    <div id="browser-window">
    </div>
  </body>
</html>
