<html>
  <head>
    <title>DDR</title>
    <link rel="stylesheet" href="application.css" type="text/css" />

    <script src="jquery.js" type="text/javascript"></script>
    <script src="application.js" type="text/javascript"></script>
    
    <script src="song_list.jsonp?callback=onSongList" type="text/javascript">
    </script>
  </head>
  <body id="song-listing">
    <div id="browser-window">
      <p>Please select one of the songs below.</p>
      
      <ol id="song-list">
      </ol>
    </div>
  </body>
</html>
