html, body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

body {
  @include vertical-flexbox;
  background: hsl(60deg, 0%, 0%);
}

header, footer {
  color: hsl(60deg, 0%, 100%);
  text-align: center;  
  font-size: 18pt;
}
header {
  font-weight: bold;
}

article {
  @include flexbox-rubber-child;
  @include horizontal-flexbox;
}
