body#show-view {
  background: hsl(60deg, 0%, 0%);
  
  header, footer {
    color: hsl(60deg, 0%, 100%);
  }
}


article.show-stage {
  @include flexbox-rubber-child;
  @include horizontal-flexbox;

  > section.player-stage-view {
    @include flexbox-rubber-child;
    @include vertical-flexbox;
    
    padding: 0 5%;
    
    > aside.player-score-area {
      position: relative;
      color: hsl(60deg, 100%, 100%);
      font-size: 24pt;
      .player-score {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        font-family: monospace;
      }
    }
    > section.player-cover-view {
      @include flexbox-rubber-child;
      @include flexbox;

      > svg {
        @include flexbox-rubber-child;
        width: auto;
        height: auto;
        display: block;
      }
    }
  }
}
